body{
    display: flex;
    justify-content: center;
}
.main {
    width: 350px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: rgb(127, 164, 197);
    margin-top: 43px;
}